<?xml version="1.0" encoding="UTF-8"?>
<module title="Өрөөний тоноглол" name="facility" multi="1" library="0" dashboard="0" icon="wrench" ranking="0" home="0" main="0" validation="0" dates="0" release="0" index="18">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="1" resizing="0">
		<big maxw="32" maxh="32"/>
		<medium maxw="400" maxh="300"/>
		<small maxw="200" maxh="150"/>
	</medias>
	<list order="name">
		<col label="Нэр" name="name" type="none"/>
	</list>
	<form>
		<field multi="1" label="Нэр" name="name" type="text" required="1" unique="0" validation="none"/>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
