<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^[^.]+\.[^.]+$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Rule 2" stopProcessing="true">
                    <match url="^(.*)index\.php$" ignoreCase="false" />
                    <conditions>
                        <add input="{URL}" pattern="/admin/" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
                </rule>
                <rule name="Rule 3" stopProcessing="true">
                    <match url="^([a-zA-Z0-9!-/]*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{URL}" pattern="/admin/" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

