<?xml version="1.0" encoding="UTF-8"?>
<module title="Захидлууд" name="message" multi="0" library="0" dashboard="1" icon="envelope" ranking="0" home="0" main="0" validation="0" dates="1" release="0" index="10">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="add_date DESC">
		<col label="Нэр" name="name" type="none"/>
		<col label="И-мэйл" name="email" type="none"/>
		<col label="Захидал" name="msg" type="none"/>
	</list>
	<form>
		<field multi="1" label="Нэр" name="name" type="text" required="1" unique="0" validation="none"/>
		<field multi="1" label="И-мэйл" name="email" type="text" required="1" unique="0" validation="none"/>
		<field multi="1" label="Хаяг" name="address" type="text" required="0" unique="0" validation="none"/>
		<field multi="1" label="Утас" name="phone" type="text" required="0" unique="0" validation="none"/>
		<field multi="1" label="Гарчиг" name="subject" type="text" required="1" unique="0" validation="none"/>
		<field multi="1" label="Захидал" name="msg" type="textarea" editor="0" required="1" unique="0" validation="none"/>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="edit,delete,publish"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
