<?xml version="1.0" encoding="UTF-8"?>
<module title="Буудлууд" name="hotel" multi="1" library="0" dashboard="1" icon="hospital-o" ranking="1" home="1" main="0" validation="1" dates="0" release="0" index="14">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="20" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="rank">
		<col label="Нэр" name="title" type="none"/>
		<col label="Тайлбар" name="subtitle" type="none"/>
	</list>
	<form>
		<field multi="1" label="Нэр" name="title" type="text" required="1" unique="0" validation="none"/>
		<field multi="1" label="Тайлбар" name="subtitle" type="text" required="0" unique="0" validation="none"/>
		<field multi="1" label="Холбоос" name="alias" type="alias" required="1" unique="1" validation="none"/>
		<field multi="1" label="Дэлгэрэнгүй" name="descr" type="textarea" editor="1" required="0" unique="0" validation="none"/>
        <field multi="0" label="Өрөөний тоноглол" name="facilities" type="multiselect" required="0" unique="0" validation="none">
            <options table="pm_facility" fieldlabel="name" fieldvalue="id" order="name"></options>
        </field>
        <field multi="0" label="Чиглэл" name="id_destination" type="select" required="0" unique="0" validation="none">
            <options table="pm_destination" fieldlabel="name" fieldvalue="id" order="name"></options>
        </field>
		<field multi="0" label="Утас" name="phone" type="text" required="0" unique="0" validation="none"/>
		<field multi="0" label="И-мэйл" name="email" type="text" required="0" unique="0" validation="none"/>
		<field multi="0" label="Вэб" name="web" type="text" required="0" unique="0" validation="none"/>
		<field multi="0" label="Хаяг" name="address" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="Өргөрөг" name="lat" type="text" required="1" unique="0" validation="numeric"/>
		<field multi="0" label="Уртраг" name="lng" type="text" required="1" unique="0" validation="numeric"/>
        
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="all"/>
        <user type="editor" permissions="no_access"/>
        <user type="hotel" permissions="edit,upload"/>
    </roles>
</module>
