/****************** GENERAL ******************/
body {
    color: #333;
}
h2, h3 {
    color: #828282;
}
a {
    color: #828282;
}
a:hover {
    color: #828282;
}
a p {
    color: #333;
}

/***************** BOOTSTRAP *****************/
.btn-primary {
    background-color: #828282;
    border-color: #828282;
    color: #fff;
}
.btn-default,
.btn-primary:hover {
    background-color: #aaa;
    border-color: #ddd;
    color: #fff;
}
.label.label-default {
    background: #aaa;
}
blockquote {
    color: #555;
}

/****************** HEADERS ******************/
#preHeader {
    background: #828282;
    color: #fff;
}
#preHeader a {
    color: #fff;
}
#mainHeader {
    background: rgba(255, 255, 255, 0.9);
}
ul.navbar-nav > li.primary > a.firstLevel {
    color: #333;
}
ul.navbar-nav > li.primary > a.firstLevel.active,
ul.navbar-nav > li.primary > a.firstLevel:hover,
ul.navbar-nav > li.primary > a.firstLevel:focus {
    border-bottom: 5px solid #828282;
    color: #828282;
    background: none;
}
.navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle {
    border-color: #333;
}
@media(max-width:767px) {
    ul.navbar-nav > li.primary > a.firstLevel.active,
    ul.navbar-nav > li.primary > a.firstLevel:hover,
    ul.navbar-nav > li.primary > a.firstLevel:focus {
        border-bottom: none;
    }
    #mainMenu .navbar-nav li {
        border-bottom: 1px solid #eee;
    }
}
#mainMenu .navbar-nav ul li a {
    border-bottom: 1px solid #444;
}
.navbar-nav ul li a {
    color: #999;
}
.navbar-nav ul li a:hover, .navbar-nav ul li.hover > a {
    background: #828282;
    color: #fff;
}
@media(min-width:768px) {
    .navbar-nav ul {
        background: #333;
    }
}
#lang-btn {
    background: transparent;
    border: 0;
}
#lang-btn:hover,
#lang-btn:focus {
    color: #ccc;
}
#lang-menu a {
    color: #333;
}
.info-header i {
    background: #fff;
    color: #828282;
}
#searchWrapper {
    color: #888;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#searchWrapper button:hover {
    background: #828282;
}
#searchWrapper .form-control {
    color: #fff;
}
#searchWrapper .form-control::-webkit-input-placeholder {
    color: #ddd;
}
#searchWrapper .form-control:-moz-placeholder {
    color: #ddd;
}
#searchWrapper .form-control::-moz-placeholder {
    color: #ddd;
}
#searchWrapper .form-control:-ms-input-placeholder {
    color: #ddd;
}
.page-header {
    background-color: #A5A5A5;
    color: #fff;
    border: none;
}
.page-header a {
    color: #fff;
}
.breadcrumb {
    background: transparent;
}

/*************** ROYAL SLIDER ****************/
#full-width-slider {
    color: #000;
}
.infoBlock a {
    color: #fff;
}
.photosBy {
    background: #fff;
    color: #000;
} 
.photosBy a {
    color: #000;
}

/***************** HOMEPAGE ******************/
.iconBlocHome i.fa {
    color: #828282;
}

/************ ISOTOPE / PORTFOLIO ************/
.isotopeWrapper.loaded {
    background: none;
}
.isotopeContent {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.more-action figcaption p {
    color: #fff;
}
.more-link:hover .more-action {
    background: rgba(130, 130, 130, 0.5);
}
.more-icon i {
    color: #828282;
    background: #fff;
}
.lazy-more-btn {
    background: #aaa!important;
    color: #fff!important;
}
.lazy-more-btn:hover {
    background: #fff!important;
    color: #333!important;
}

/*************** MISCELLANEOUS ***************/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #828282;
}
.hotBox {
    background: #828282;
    color: #fff;
}   
.hotBox h2,
.hotBox a {
    color: #fff;
}
#pages-list li a {
    border: 1px solid #ddd;
    background-color: #aaa;
    color: #fff;
}
#pages-list li a:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
/******************* FOOTER ******************/
#footerRights {
    background: #000;
}
footer {
    background: #333;
    color: #fff;
}
footer a {
    color: #fff;
}
footer p.lead {
    color: #828282;
}
#toTop {
    background: #fff;
    border: 1px solid #ddd;
}
#toTop:hover {
    background: #828282;
    color: #fff;
}
