<?xml version="1.0" encoding="UTF-8"?>
<module title="Шошго" name="tag" multi="1" library="0" dashboard="0" icon="tag" ranking="1" home="0" main="0" validation="1" dates="0" release="0" index="5">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="rank">
		<col label="Утга" name="value" type="none"/>
	</list>
	<form>
		<field multi="1" label="Утга" name="value" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="Хуудасууд" name="pages" type="multiselect" required="0" unique="0" validation="none">
			<options table="pm_page" fieldlabel="name" fieldvalue="id" order="name"/>
		</field>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="all"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
