<?xml version="1.0" encoding="UTF-8"?>
<module title="Хэрэглэгчид" name="user" multi="0" library="0" dashboard="0" icon="user" ranking="0" home="0" main="0" validation="1" dates="1" release="0" index="11">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id">
		<col label="Нэр" name="name" type="none"/>
		<col label="Мэйл хаяг" name="email" type="none"/>
		<col label="Хэрэглэгчийн нэр" name="login" type="none"/>
		<col label="Төрөл" name="type" type="none"/>
	</list>
	<form>
		<field multi="0" label="Нэр" name="name" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="Мэйл хаяг" name="email" type="text" required="1" unique="1" validation="none"/>
		<field multi="0" label="Хэрэглэгчийн нэр" name="login" type="text" required="1" unique="1" validation="none"/>
		<field multi="0" label="Нууц үг" name="pass" type="password" required="1" unique="0" validation="none"/>
		<field multi="0" label="Tөрөл" name="type" type="select" required="1" unique="0" validation="none">
            <options>
                <option value="administrator">Админ</option>
                <option value="manager">Менежер</option>
                <option value="editor">Засварлагч</option>
                <option value="registered">Бүртгэгдсэн</option>
                <option value="hotel">Зочид буудал</option>
            </options>
        </field>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
