<?xml version="1.0" encoding="UTF-8"?>
<module title="Үйл ажиллагаа" name="activity" multi="1" library="0" dashboard="1" icon="ticket" ranking="1" home="1" main="0" validation="1" dates="0" release="0" index="19">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="20" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="rank">
		<col label="Title" name="title" type="none"/>
	</list>
	<form>
		<field multi="1" label="Гарчиг" name="title" type="text" required="1" unique="0" validation="none"/>
		<field multi="1" label="Дэд Гарчиг" name="subtitle" type="text" required="0" unique="0" validation="none"/>
		<field multi="1" label="Alias" name="alias" type="alias" required="1" unique="1" validation="none"/>
		<field multi="0" label="Хүүхдийн тоо" name="max_children" type="select" required="1" unique="0" validation="numeric">
            <options>
                <min>0</min>
                <max>100</max>
            </options>
        </field>
		<field multi="0" label="Насанд хүрэгчдийн тоо" name="max_adults" type="select" required="1" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>100</max>
            </options>
        </field>
		<field multi="0" label="Хүний тоо" name="max_people" type="select" required="1" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>100</max>
            </options>
        </field>
		<field multi="1" label="Тайлбар" name="descr" type="textarea" editor="1" required="0" unique="0" validation="none"/>
        <field multi="0" label="Зочид буудал" name="hotels" type="multiselect" required="1" unique="0" validation="none">
            <options table="pm_hotel" fieldlabel="title" fieldvalue="id" order="title"></options>
        </field>
		<field multi="0" label="Үнэ/тус бүр" name="price" type="text" required="1" unique="0" validation="numeric" comment="{currency} (default price)"/>
		<field multi="0" label="Үргэлжлэх хугацаа" name="duration" type="text" required="1" unique="0" validation="numeric"/>
		<field multi="0" label="хугацааны нэгж" name="duration_unit" type="select" required="1" unique="0" validation="none">
            <options>
                <option value="hour(s)">цаг</option>
                <option value="minute(s)">минут</option>
                <option value="day(s)">өдөр</option>
            </options>
        </field>
		<field multi="0" label="Өргөрөг" name="lat" type="text" required="1" unique="0" validation="numeric"/>
		<field multi="0" label="Уртраг" name="lng" type="text" required="1" unique="0" validation="numeric"/>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
        <user type="hotel" permissions="add,edit,upload"/>
    </roles>
</module>
